* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navigation styles here */
.navbar {
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 5px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}
.navbar-logo h1 {
  font-size: 2rem;
  font-weight: 600;

  color: #037ff0;
  font-family: "Marck Script", cursive;
}

.navbar-logo-link {
  text-decoration: none;
  color: #037ff0;
}

.navbar-list {
  margin: 0 3rem;
  list-style: none;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.navbar-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
  transition: all 0.3s ease-in-out;
}

.navbar-list-item-link {
  text-decoration: none;
  color: #f08d03;
}

.active {
  background-color: #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* hero styles here */
.hero {
  width: 100%;
  height: 60vh;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/ecommerce-web-fc5d7.appspot.com/o/laptop-coffee.jpeg?alt=media&token=f0eb41c6-45ac-49c5-887c-9bddfd36a8a1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
}

.hero-title {
  margin: 1rem 0;
}

.hero-content-title {
  font-size: 5rem;
  font-weight: 600;
  color: #f08d03;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.hero-content-subtitle {
  font-size: 3rem;
  font-weight: 600;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.hero-content-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.hero-content-button {
  font-size: 1.5rem;
  transform: translateX(150%);
  font-weight: 600;
  background-color: #f08d03;
  color: white;
  outline: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: none;
  text-align: center;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  cursor: pointer;
  -webkit-transform: translateX(150%);
  -moz-transform: translateX(150%);
  -ms-transform: translateX(150%);
  -o-transform: translateX(150%);
}

.hero-content-button:hover {
  background-color: #000;
  border: 1px solid #f08d03;
}

/* features */

main {
  margin: 2rem 0;
}

.my-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features {
  margin: 1rem;
  border: 1px solid #037ff0;
  padding: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.features p {
  font-size: 2rem;
  font-style: italic;
}

.features-wrap {
  display: flex;
  justify-content: space-between;
}

.features-list1 {
  margin-right: 3rem;
}

.features-list2 {
  margin-right: -3rem;
}

.features-list-item {
  font-size: 1.2rem;
}

.details-title {
  margin-left: 5px;
  font-size: 1.5rem;
}

.details-wrap {
  display: flex;
  justify-content: space-between;
  padding: 7px 1rem;
}

.details1,
.details2 {
  padding: 5px 1rem;
  text-align: justify;
  width: 50%;
}

.details-info {
  padding: 8px 0;
}

.details-info ul,
ol {
  margin-left: 1rem;
}

.my-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

.img-wrap {
  margin-top: 5px;
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  border: 2px solid #037ff0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.my-img-pic {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 100%;
  max-height: 400px;
  object-fit: contain;
}


.contact-info {
  margin: 1rem;
  color: #fff;
}
.contact-button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #037fff 0,
    #f08d03 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  height: 48px;
  width: fit-content;
  margin: 0.5rem 0 0.5rem 1rem;
  padding: 1rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.contact-button:focus {
  box-shadow: #037ff0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #037ff0 0 -3px 0 inset;
}

.contact-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #037ff0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.contact-button:active {
  box-shadow: #037ff0 0 3px 7px inset;
  transform: translateY(2px);
}

footer {
  width: 100%;
  height: fit-content;
  margin: 1rem 0 0 0;
  padding: 1rem;
  background-color: black;
}

footer p {
  color: white;
  font-size: 1rem;
  /* font-weight: 400; */
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
